<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Google Charts Library -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/javascripts/googleCharts.js"></script>
  </head>
  <body>
    <h1 id="mainTitle">Dashboard</h1>
    <br>
    <div class="container-fluid">
       
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div id="googleChart">
                        <div id="chartContainer1"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div class="googleChart">
                    <div id="chartContainer2"></div>
                </div>
            </div>   
        </div>    
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div class="googleChart">
                    <div id="chartContainer3"></div>
                </div>                  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div id="googleChart">
                    <div id="chartContainer4"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div class="googleChart">
                    <div id="chartContainer5"></div>
                </div>
            </div>  
        </div>
      
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div id="tileContent" class="">
                <div class="googleChart">
                    <div id="chartContainer6"></div>
                </div>                  
            </div>
        </div>
    </div>
    </div>
  </body>
</html>
